@font-face
{
    font-family: 'ubuntuc';
    src: url("#{resource['fonts:Ubuntu-C.ttf']}") format('truetype');
}

.arcadia-logo
{
    font-family: 'ubuntuc', sans-serif;
    font-size: 32px;
}

.hcontrol
{
    margin-top: 8px;
}

.btn-hcontrol
{
    margin-right: 5px;
}

@media screen and (max-width: 768px) 
{ 
    div.collapsing
    {
        text-align: center;
    }

    div.collapse
    {
        text-align: center;
    }

    .btn-hcontrol
    {
        margin-top: 8px;
    }
}