/* CSS PERSONALIZADO */

[class*="col-"], header, nav, aside, section, div[role="main"] 
{
    // Borda para depuração de interface
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

/* centered columns styles */
.row-centered 
{
    text-align:center;
}

.col-centered 
{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.hcontrol
{
    padding: 20px;
    margin: auto;
}

.hcentral
{
    padding: 20px;
    margin: auto;
    
    text-align: left;
}

.img-center
{
    width: 105px; 
    height: 40px;
    
    margin: 10px auto;
}